<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="">

    <footer class="text-center text-lg-start bg-body-tertiary text-muted ">
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

            <div class="me-5 d-none d-lg-block">
                <span>Get connected with us on social networks:</span>
            </div>

            <div>
                <a href="https://www.facebook.com/endatamweel" class="me-4 text-reset">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.youtube.com/channel/UCDr5Ga0T8Th4btOGHfaseOg" class="me-4 text-reset">
                    <i class="fab fa-youtube"></i>
                </a>
                <a href="https://bit.ly/32Qyn3c" class="me-4 text-reset">
                    <i class="fab fa-google-play"></i>
                </a>
                <a href="https://www.instagram.com/enda_tamweel/" class="me-4 text-reset">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://fr.linkedin.com/company/enda-tamweel" class="me-4 text-reset">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
        </section>
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">

                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i> Enda Tamweel
                        </h6>
                        <p>
                            Enda Tamweel est une société anonyme de microfinance
                            créée en 2015 par l’ONG Enda Inter-arabe. Enda Tamweel
                            est spécialisée dans l’offre de produits et services financiers;
                            elle continuera à collaborer avec Enda inter-arabe pour offrir à ses
                            clients des services d’accompagnement non financiers.
                        </p>
                    </div>

                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                        <h6 class="text-uppercase fw-bold mb-4">
                            Nouvelles récentes
                        </h6>
                        <p>
                            La 2eme Edition du marché citoyen et solidaire « Souk El Kahina » du 19 au 22 décembre avec
                            + de 100 artisans et petits producteurs
                        </p>
                        <p>
                            Accord GIZ Tunisie – “Enda Tamweel” : Partenariat Novateur et nouvelle dynamique financière
                            pour le développement durable des Organisations Professionnelles Agricoles en Tunisie
                        </p>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                        <p><i class="fas fa-home me-3"></i>Rue de l’Assistance, cité El Khadra,
                            Tunis. Tunisie, Tunis 1003</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            info@endatamweel.tn
                        </p>
                        <p><i class="fas fa-phone me-3"></i> +216 71 80 40 02</p>
                        <p><i class="fas fa-phone me-3"></i> +216 71 80 41 25</p>
                    </div>  

                </div>

            </div>
        </section>

        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            Enda tamweel © 2020. Tous les droits sont réservés
        </div>

    </footer>

</body>

</html>