<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="container mt-3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>id_candidature</th>
          <th>id_offre</th>
          <th>saliare</th>
          <th>date_exp</th>
          <th>date postule</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let f of combinedData | paginate: { itemsPerPage: 10, currentPage: p }">
          <td>{{f.id_candidature}}</td>
          <td>{{f.id_offre}}</td>
          <td>{{f.saliare}}</td>
          <td>{{f.date_exp}}</td>
          <td>{{f.user.datepostule}}</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</body>
</html>
