.container {
    max-width: 800px;
    margin: 0 auto;
}

.card {
    margin-top: 20px;
}



.card-text {
    color: #495057;
}

button {
    background-color: #E2126E;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #495057
}