<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modern Offer Details</title>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Details de l'Offer N°{{offreId}}</h1>
        <div class="card">
            <div class="card-body" *ngIf="offre">
                <p class="card-text">Salary: {{offre.saliare}}</p>
                <p class="card-text">Experience: {{offre.experience}} years</p>
                <p class="card-text">Expiration Date: {{offre.date_exp}}</p>
                <p class="card-text">Description:</p>
                <p class="card-text">{{offre.description}}</p>
                <button class="btn btn-secondary " [disabled]="!status">Apply Now</button><br>
                <span *ngIf="!status" class="text-danger">Tu dois te connecter tout d'abord</span>
            </div>
        </div>
    </div>
</body>
</html>
