<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#myModal1">Ajoutez</a>
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-4 mb-3" *ngFor="let f of offres | paginate: { itemsPerPage: 10, currentPage: p }">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">ID: {{f.id_offre}}</h5>
            <p class="card-text">Experience: {{f.experience}}</p>
            <p class="card-text">Salaire: {{f.saliare}}</p>
            <p class="card-text">Date d'expérience: {{f.date_exp}}</p>
            <a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#myModal" (click)="enterForm(f.id_offre,f.experience,f.saliare,f.date_exp,f.description)">Modifier</a>
            <a class="btn btn-outline-danger" (click)="deleteOffer(f.id_offre)">Supprimer</a>
          </div>
        </div>
      </div>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Formulaire de Candidature</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" #closeButton></button>
        </div>

        <!-- Modal BODY -->
        <div class="modal-body">
          <div class="card p-4" style="width: 100%;">
            <form class="needs-validation custf" novalidate [formGroup]="updateform" (submit)="submit()">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="id" class="form-label">ID:</label>
                  <input type="text" id="id" class="form-control" formControlName="id" required readonly/>
                </div>

                <div class="col-md-6 mb-3">
                  <label for="Experience" class="form-label">Experience:</label>
                  <input type="number" id="Experience" class="form-control" formControlName="Experience" required />
                  <div *ngIf="updateform.get('Experience').errors?.['required'] && c" class="text-danger">
                    Le champ Experience est requis
                  </div>
                  <div *ngIf="updateform.get('Experience').errors?.['min'] && c" class="text-danger">
                    Le champ Experience doit etre positive
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="Salaire" class="form-label">Salaire:</label>
                  <input type="number" id="Salaire" class="form-control" formControlName="Salaire"/>
                  <div *ngIf="updateform.get('Salaire').errors?.['required'] && c" class="text-danger">
                    Le champ Salaire est requise
                  </div>
                  <div *ngIf="updateform.get('Salaire').errors?.['min'] && c" class="text-danger">
                    Le champ Salaire est doit etre positive
                  </div>
                </div>

                <div class="col-md-6 mb-3">
                  <label for="date_exp" class="form-label">Date d'expérience:</label>
                  <input type="date" id="date_exp" class="form-control" formControlName="date_exp" required />
                  <div *ngIf="updateform.get('date_exp').errors?.['required'] && c" class="text-danger">
                    Date d'expérience est requise
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <label for="description" class="form-label">Description:</label><br>
                <textarea id="description" class="form-control md-textarea" formControlName="description" rows="5" required></textarea>
                <div *ngIf="updateform.get('description').errors?.['required'] && c" class="text-danger">
                  Le champ description est requis.
                </div>
              </div>
              <div class="modal-footer d-flex justify-content-center">
                <button type="submit" class="btn btn-success" id="sbt">Update</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="modal" id="myModal1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Formulaire d'ajout</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" #closeButtonadd></button>
        </div>
        <div class="modal-body">
          <form class="row g-3" [formGroup]="ajoutform" (submit)="submitAdd()">
            <div class="col-md-6">
              <label for="Experience" class="form-label">Experience:</label>
              <input type="number" id="Experience" class="form-control" formControlName="Experience" required>
              <div *ngIf="ajoutform.get('Experience').errors?.['required'] && c1" class="text-danger">
                Le champ Experience est requis
              </div>
              <div *ngIf="ajoutform.get('Experience').errors?.['min'] && c1" class="text-danger">
                Le champ Experience doit être positif
              </div>
            </div>
            <div class="col-md-6">
              <label for="Salaire" class="form-label">Salaire:</label>
              <input type="number" id="Salaire" class="form-control" formControlName="Salaire">
              <div *ngIf="ajoutform.get('Salaire').errors?.['required'] && c1" class="text-danger">
                Le champ Salaire est requis
              </div>
              <div *ngIf="ajoutform.get('Salaire').errors?.['min'] && c1" class="text-danger">
                Le champ Salaire doit être positif
              </div>
            </div>
            <div class="col-md-6">
              <label for="date_exp" class="form-label">Date d'expérience:</label>
              <input type="date" id="date_exp" class="form-control" formControlName="date_exp" required>
              <div *ngIf="ajoutform.get('date_exp').errors?.['required'] && c1" class="text-danger">
                Date d'expérience est requise
              </div>
            </div>
            <div class="col-12">
              <label for="description" class="form-label">Description:</label>
              <textarea id="description" class="form-control" formControlName="description" rows="5" required></textarea>
              <div *ngIf="ajoutform.get('description').errors?.['required'] && c1" class="text-danger">
                Le champ description est requis.
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success">Ajouter</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
