<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="container mt-3">      
    <table class="table table-striped row-border hover">
      <thead>
        <tr>
          <th>id</th>
          <th>experience</th>
          <th>salaire</th>
          <th>date_exp</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let f of offres | paginate: { itemsPerPage: 10, currentPage: p }">
          <td>{{f.id_offre}}</td>
          <td>{{f.experience}}</td>
          <td>{{f.saliare}}</td>
          <td>{{f.date_exp}}</td>
          <td>
            <a [routerLink]="['/Details',f.id_offre]">Details</a>
          </td>
        </tr>
      </tbody>
    </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</body>
</html>
