<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Présentation de Enda tamweel</h1>
            <p class="lead">Enda Tamweel est une société de micro-finance tunisienne créée par
                l’organisation non-gouvernementale Enda inter-arabe, pionnière du secteur de la
                micro-finance en Tunisie. Enda Tamweel œuvre pour l’inclusion financière des populations
                vulnérables, notamment les femmes et les jeunes.
                Elle apporte une forte contribution au développement économique et social du pays à
                travers le soutien actif qu’elle fournit au micro-entrepreneuriat et à l’auto-emploi.
                Appuyant son développement sur la proximité, Enda Tamweel opère à travers un réseau de
                108 agences couvrant l’ensemble des gouvernorats tunisiens et de 5 guichets mobiles
                desservant principalement les zones enclavées.
                Enda Tamweel met son expertise à la disposition de ses clients et fournit une large
                panoplie de services financiers et non financiers adaptés aux besoins de chacun et
                couvrant tous les champs d’activité.
                Afin de stimuler la croissance des microentreprises et d’accélérer leur pérennisation,
                Enda Tamweel a développé une grande synergie avec son partenaire stratégique Enda
                inter-arabe qui offre des services d’accompagnement, d’encadrement et de formation.
                Depuis sa création, Enda a soutenu plus d’un million et cent milles de personnes et
                accordé plus de 4,4 millions de prêts pour un montant équivalent à 9 400 millions de
                dinars.</p>
        </div>

        <div id="about" class="row">
            <div class="col-lg-6">
                <h2>Valeurs</h2>
                <p> <strong>Respect:</strong>
                    Nous nous efforçons d’adopter un comportement exemplaire au quotidien et nous
                    considérons l’altérité comme une force <br>
                    Responsabilité collective et sociale
                    Nous mettons tout en œuvre pour accomplir la mission que nous nous sommes assignés
                    et privilégions dans nos recrutements des profils ayant trait au monde associatif.
                    <br>
                    <strong>Qualité de service:</strong>
                    Nous érigeons la satisfaction des clients en priorité absolue et gardons l’exigence
                    d’une qualité de service irréprochable.
                    <br>
                    <strong> Transparence:</strong>
                    Nous fournissons à nos clients toute information relative à nos prestations,
                    produits ou procédures d’octroi.
                    <br>
                    <strong> Honnêteté:</strong>
                    Nous faisons prévaloir l’équité et le sens des responsabilités et prônons l’intérêt
                    des clients qui prévaut sur toute autre considération.
                    <br>
                    <strong> Professionnalisme:</strong>
                    Nous exigeons de nos collaborateurs réactivité et exemplarité pour satisfaire toutes
                    les demandes formulées.
                </p>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center justify-content-center">
                    <img src="https://www.endatamweel.tn/wp-content/uploads/2016/01/Presentation-v4-1.jpg" class="img-fluid" alt="enda"
                        style="max-width: 100%; height: auto;">
                </div>
            </div>
        </div>
    </div>

</body>

</html>